    <div class="footer">
      <div class="end mirango">
        {{ partial "logo.html" . }}<span class="copyright"> &copy; 2014 - 2018</span>
        <div class="name">
          Sean Walsh —
        </div>
        <div class="email">
          sdwalsh@mirango.io
        </div>
      </div>
      <div class="commit-data">
        <a href="https://bitbucket.org/sdwalsh/mirango"><span id="commit-hash"></span></a>
        <div>
          <span id="commit-date"></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript" src="/all.min.js"></script>
