<body>
<div class="container">
  <div class="header">
  {{ $baseurl := .Site.BaseURL }}
    <h1 class="site-title mirango">
      {{ partial "logo.html" . }}
    </h1>
    {{ partial "nav.html" . }}
  </div>