{{ $baseurl := .Site.BaseURL }}
<a href="{{ $baseurl }}"><span class="base05">[</span><span class="base08">m</span><span class="base09">i</span><span class="base0a">r</span><span class="base0b">a</span><span class="base0c">n</span><span class="base0d">g</span><span class="base0e">o</span><span class="base05">]</span></a>